@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About";
}

<!--#region About Main Page Image-->
<div class="custom-about-page-img">
    <div class="container-fluid p-0">
        <div class="prices-main-page-img">
            <img src="~/img/about.webp" alt="" class="img-fluid">
        </div>
    </div>
</div>
<!--#endregion About Main Page Image-->
<!--#region About Main Page Starts-->
<section class="about-main-page">
    <div class="container">
        <div class="row">
            <div class="custom-faq-text-heading text-center">A Few words about us</div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span>
                    <span class="separator-line"></span>
                    <span> <img src="~/img/separator.png" alt=""></span>
                    <span class="separator-line"></span>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row my-4">
                <div class="col-12 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.
                    <br> Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="custom-faq-text-heading text-center">Our Story</div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span>
                    <span class="separator-line"></span>
                    <span> <img src="~/img/separator.png" alt=""></span>
                    <span class="separator-line"></span>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row my-4">
                <div class="col-12 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.
                    <br> Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<!--#endregion About Main Page Starts-->
<!--#region Get Our Newsletter-->
<div class="container mt-4">
    <section class="our-news-letter bg-white">
        <div class="container text-center">
            <a href="#" class="scroll-top"><img src="~/img/forma-1.png" alt="up-arrow"></a>
            <a href="#" class="message-boat"><img src="~/img/contact.webp" alt="message-boat"></a>
            <h2 class="custom-get-our-newsletter-heading">GET OUR NEWSLETTER</h2>
            <div class="form-row d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="email" style="display: none;">YOUR EMAIL</label>
                    <input type="text" placeholder="YOUR EMAIL" id="email" onkeyup="EnableDisable(this)" class="form-control">
                </div>
                <div class="btn-wrapper">
                    <button class="red-btn" id="btnSubmit" disabled="disabled">Submit</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!--#endregion Get Our Newsletter-->