@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}

<!--#region Contact Main Page Image-->
<div class="custom-contact-page-img">
    <div class="container-fluid p-0">
        <div class="prices-main-page-img">
            <img src="~/img/group-18.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
<!--#endregion Contact Main Page Image-->
<!--#region Contact Main Page Starts-->
<div class="custom-contact-page-starts">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center custom-prices-header">
                Contact Us
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span>
                    <span class="custom-separator-line"></span>
                    <span> <img src="~/img/separator.png" alt=""></span>
                    <span class="custom-separator-line"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12 text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="~/img/location.webp" alt="">
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-6">
                        <div class="custom-contact-text">1111 Lorem ipsum text 100, Lorem ipsum AB</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center gy-3">
                <div class="row">
                    <div class="col-12">
                        <img src="~/img/phone-call.webp" alt="">
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-6">
                        <div class="custom-contact-text">+49 (40) 123 56 7890 +49(40) 987 56 0000</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center gy-3">
                <div class="row">
                    <div class="col-12">
                        <img src="~/img/email.webp" alt="">
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-6">
                        <div class="custom-contact-text">info@helperland.com</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-5"><hr></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center custom-prices-header">
                Get in touch with us
            </div>
        </div>
        <div class="row justify-content-center mt-3 gy-3">
            <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <div class="row justify-content-center mt-3 gy-2">
            <div class="col-md-3 col-sm-12">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">+46</span>
                    <input type="text" class="form-control" placeholder="Mobile number" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-sm-12">
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled>Subject</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-sm-12">
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-2 col-sm-5">
                <button class="custom-borderless custom-contact-submit-btn custom-submit">Submit</button>
            </div>
        </div>

    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 p-0">
                <iframe class="custom-responsive-iframe " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.698049828245!2d72.50043579999999!3d23.0348564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8352e403437b%3A0xdc9d4dae36889fb9!2sTatvaSoft!5e0!3m2!1sen!2sin!4v1641532880196!5m2!1sen!2sin" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <section class="our-news-letter bg-white">
            <div class="container text-center">
                <a href="#" class="scroll-top"><img src="~/img/forma-1.png" alt="up-arrow"></a>
                <a href="#" class="message-boat"><img src="~/img/contact.webp" alt="message-boat"></a>
                <h2 class="custom-get-our-newsletter-heading">GET OUR NEWSLETTER</h2>
                <div class="form-row d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="email" style="display: none;">YOUR EMAIL</label>
                        <input type="text" placeholder="YOUR EMAIL" id="email" onkeyup="EnableDisable(this)" class="form-control">
                    </div>
                    <div class="btn-wrapper">
                        <button class="red-btn" id="btnSubmit" disabled="disabled">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br>
<br>
<!--#endregion Contact Main Page Starts-->