@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "FAQ";
}

<!--#region FAQ Main Page Image-->

<div class="faq-main-page-img">
    <div class="container-fluid p-0">
        <img src="~/img/faq.webp" alt="" class="img-fluid">
    </div>
</div>

<!--#endregion FAQ Main Page Image-->
<!--#region FAQ Main page code-->
<section class="faq-main-page">
    <div class="container">
        <div class="row text-center">
            <div class="custom-faq-text-heading ">FAQs</div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span>
                    <span class="separator-line"></span>
                    <span> <img src="~/img/separator.png" alt=""></span>
                    <span class="separator-line"></span>
                </span>
            </div>
        </div>
        <div class="row my-4">
            <div class="offset-3 col-6 justify-content-center text-center">
                Whether you are Customer or Service provider, We have tried our best to solve all your queries and questions.
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <button class="col-md-5 col-sm-6 btn-custom-color btn-lg">FOR CUSTOMER</button>
                <button class="col-md-5 col-sm-6 btn btn-lg custom-customer-service-button custom-btn-service">
                    FOR SERVICE
                    PROVIDER
                </button>
            </div>
        </div>
        <div class="row my-4">
            <div class="offset-1 col-10">
                <div class="accordion">
                    <div>
                        <input type="radio" name="example_accordion" id="section1" class="accordion__input">
                        <span>
                            <label for="section1" class="accordion__label"></label>
                            <span class="custom-accordion-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                            </span>
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                                dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                                convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis
                                dui. Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus
                                urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                                Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                                Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                                ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section2" class="accordion__input">
                        <span>
                            <label for="section2" class="accordion__label"></label>
                            <span class="custom-accordion-heading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                            </span>
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                                dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor. Integer fermentum
                                convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis
                                dui. Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus
                                urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                                Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                                Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                                ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section3" class="accordion__input">
                        <label for="section3" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section4" class="accordion__input">
                        <label for="section4" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section5" class="accordion__input">
                        <label for="section5" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section6" class="accordion__input">
                        <label for="section6" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section7" class="accordion__input">
                        <label for="section7" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section8" class="accordion__input">
                        <label for="section8" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                    <div>
                        <input type="radio" name="example_accordion" id="section9" class="accordion__input">
                        <label for="section9" class="accordion__label"></label>
                        <span class="custom-accordion-heading">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                            nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?
                        </span>
                        <div class="accordion__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sit reiciendis, ipsam quaerat,
                                aperiam perspiciatis ad ullam architecto impedit natus illo nostrum molestias voluptas earum a
                                voluptatibus fugiat fuga facere!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
    <!--#endregion FAQ Main page code-->
    <!--#region Get our new letter-->
        <div class="container mt-4">
            <section class="our-news-letter bg-white">
                <div class="container text-center">
                    <h2 class="custom-get-our-newsletter-heading">GET OUR NEWSLETTER</h2>
                    <div class="form-row d-flex justify-content-center align-items-center">
                        <div class="form-group">
                            <label for="email" style="display: none;">YOUR EMAIL</label>
                            <input type="text" placeholder="YOUR EMAIL" id="email" onkeyup="EnableDisable(this)" class="form-control">
                        </div>
                        <div class="btn-wrapper">
                            <button class="red-btn" id="btnSubmit" disabled="disabled">Submit</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <!--#endregion Get our new letter-->