
/*#region Header*/


nav {
  width: 100%;
  background-color: transparent;
  padding: 15px;
  opacity: 0.8;
}
nav ul {
  float: right;
}
nav ul li {
  list-style-type: none;
  font-size: 17px;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
.logo {
  position: absolute;
  width: 5%;
  top: 3px;
}
.flag {
  margin-right: 7px;
}
.downarrow {
  margin-right: 15px;
}
.round-rectangle-1 {
  width: 161px;
  height: 40px;
  margin: 4px 2px;
  padding: 9px 22.58px;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color:transparent;
}
.round-rectangle-2 {
  width: 161px;
  height: 40px;
  margin: 4px 2px;
  padding: 9px 27px;
  border-radius: 25px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color:transparent;
}
.color-green {
  background-color: #29626d;
  opacity: 1;
  border: 1px solid #ffffff80;
  border-radius: 20px;
}
/*#endregion Header*/





/*#region Newsletter*/
.newsletter{
    position: relative;
    top: 540px;
    margin-left: 38%;
}

.center{
    text-align: center;
}

.rounded-borders {
    border-radius: 25px;
    border: 1px solid #565656;
    padding: 20px; 
    width: 200px;
    height: 15px;    
  }
  
  .btn-orange{
    border-radius: 27px;
    color: #fff;
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border: #FF7B6D;
    border-radius: 20px;
    width: 88px;
    height: 40px;
    padding: 11px 20px 13px 23px;
    cursor: pointer;
  }
/*#endregion Newsletter*/
/*#region Footer*/

/* footer {
  position: relative;
  top: 587px;
  padding: 27px 0 0 0;
  background-color: #111;
  display: block;
}

.logo-footer {
  width: 106px;
  height: 78px;
  margin: 0 262px 26px 122px;
}

.footer-list {
  padding: 10px;
  font-family: Roboto;
  text-transform: uppercase;
}

ul.footer-list {
  list-style-type: none;
  color: white;
  font-size: 14px;
}

footer li {
  float: left;
  padding: 10px;
}

.icons {
  margin: 25px 0 0 300px;
}

.icons-img {
  padding: 0 7px;
}

.footer-color {
  width: 100%;
  background-color: #292929;
  height: 55px;
}

.footer-text {
  padding: 5px;
  color: #9ba0a3;
  text-align: center;
  font-size: 14px;
}

.color-blue {
  color: #6eabef;
} */

/*#endregion Footer*/
