@{
    ViewData["Title"] = "Customer Dashboard";
    Layout = "~/Views/Shared/_LayoutServiceProvider.cshtml";
}
<div class="col-lg-8 col-md-12 col-sm-12">
    <div class="custom-upcoming-service-right-side">
        <div class="row gap-5">
            <div class="col-3 card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="rounded-circle">0</h5>
                    <p class="card-text">New Request</p>
                    <a href="#" class="btn btn-outline-primary rounded-pill">Show all</a>
                </div>
            </div>
            <div class="col-3 card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="rounded-circle">0</h5>
                    <p class="card-text">Accepteed Request</p>
                    <a href="#" class="btn btn-outline-success rounded-pill">Show all</a>
                </div>
            </div>
            <div class="col-3 card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="rounded-circle">0</h5>
                    <p class="card-text">Due Invoices</p>
                    <a href="#" class="btn btn-outline-danger rounded-pill">Show all</a>
                </div>
            </div>
        </div>
    </div>
</div>